@model ArtProject2016.Models.Message
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Layout = "ContactUs";
}
<div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Contact Us</li>
                    </ul>

                </div>

                <div class="col-md-3">
                    <!-- *** PAGES MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Support Pages</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                               
                                <li class="active text-center">
                                    <a href="#">Contact Us page</a>
                                </li>
                                <li class="text-center">
                                    <a href="@Url.Action("FAQ")">Frequently Asked Questions</a>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <!-- *** PAGES MENU END *** -->


                    <div class="banner">
                        <a href="#">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="col-md-9">


                    <div class="box" id="contact">
                        <h1>Contact Us</h1>

                        <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
                        <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

                        <hr>

                        <div class="row">
                            <div class="col-sm-4">
                                <h3><i class="fa fa-map-marker"></i> Address</h3>
                                <p>214 Rose St.
                                    <br>San Jose Subd.
                                    <br>Balanga City
                                    <br>Bataan, Bataan
                                    <br>
                                    <strong>Philippines</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-phone"></i> Call center</h3>
                                <p class="text-muted">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
                                <p><strong>+33 555 444 333</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                                <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                                <ul>
                                    <li><strong><a href="mailto:">info@fakeemail.com</a></strong>
                                    </li>
                                    <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                                </ul>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->

                     @*   <hr>

                        <div id="map">

                        </div>*@

                        <hr>
                        <h2>Leave Us a Message</h2>

                      @using(Html.BeginForm())
                      {
                          @Html.AntiForgeryToken()
                          @Html.ValidationSummary()
                         <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @*<label for="firstname">Full Name</label>*@
                                        @Html.LabelFor(item => item.FullName)
                                        @Html.TextBoxFor(item => item.FullName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(item => item.FullName)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                      @Html.LabelFor(item => item.EmailAdd)
                                        @Html.TextBoxFor(item => item.EmailAdd, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(item => item.EmailAdd)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(item => item.Subject)
                                        @Html.TextBoxFor(item => item.Subject, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(item => item.Subject)
                                    </div>
                                </div>
                             <div class="col-sm-4">
                                 <div class="form-group">
                                     @Html.LabelFor(item => item.MobileNumber)
                                        @Html.TextBoxFor(item => item.MobileNumber, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(item => item.MobileNumber)
                                 </div>
                             </div>
                              <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(item => item.OrderId)
                                        @Html.TextBoxFor(item => item.OrderId, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(item => item.OrderId)
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(item => item.Body)
                                        @Html.TextBoxFor(item => item.Body, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(item => item.Body)
                                    </div>
                                </div>

                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>

                                </div>
                            </div>
                            <!-- /.row -->
                      }

                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
