@model ArtProject2016.ViewModel.loginViewModel

 <div class="box">
                        <h1>Login</h1>

                        <p class="lead">Already registered?</p>
                        <p class="text-muted">login to view your account :)</p>

                        <hr>

                     @using (Html.BeginForm("_Login", "Auth", new { returnUrl = ViewBag.ReturnUrl }))
                   {
                           @Html.AntiForgeryToken()
                            <div class="form-group">
                                
                                <label for="email">Email Address: (User Name)</label>
                              
                                @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
                                   @Html.ValidationMessageFor(model => model.userName)
                             </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                   @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                        </div>
                        }
     
     
                        <a href="#" data-toggle="modal" data-target="#forgot-modal">Forgot Password</a>
     
     @Html.Partial("_ForgotPassword", new ArtProject2016.ViewModel.ForgotPasswordViewModel())
 </div>
