@model ArtProject2016.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";

}

<div class="box">
    <h1>Reset Password</h1>

    <p class="lead">Please nominate your new password</p>
    <p class="text-muted">
     Your can change your password within 24 hours of forgot password request.   </p>

    <hr>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">

            <label for="email">Nominate New Password</label>

            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="form-group">
            <label for="password">Retype your New Password</label>
            @Html.PasswordFor(m => m.RetypePassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RetypePassword)
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Reset Password</button>
        </div>
    }

</div>
