@model IEnumerable<ArtProject2016.Models.Order>

@{
    ViewBag.Title = "My Orders";
    ViewBag.Current = "Orders";
}


<div class="col-md-9" id="customer-orders">
    <div class="box">
        <h1>My orders</h1>
        <p class="lead">Your orders on one place.</p>
        <p class="lead">You can buy artworks from other artist. </p>
        <p class="text-muted">If you have any questions, please feel free to @Html.ActionLink("Contact Us", "ContactUs","Home"), our customer service center is working for you 24/7.</p>

        <hr>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                       <th>Order #</th>
                                        <th>Date</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @if(Model.Any())
                    {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                # @Html.DisplayFor(modelItem => item.Id)</th>
                            <td>
                                @String.Format("{0:d}", item.OrderDate)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)</td>
                            <td>
                                <span class="label label-info">@Html.DisplayFor(modelItem => item.OrderStatus)</span></td>
                            <td>
                                @Html.ActionLink("View Order", "OrderDetails", new { id = item.Id}, new {  @class = "btn btn-primary btn-sm" })
                            </td>
                        </tr>
                    }  }
    else
    {
          <th colspan="4">
                <h2 class="text-center">Buy Art from other artist, @Html.ActionLink("Buy now :)","Gallery","Shop")</h2>
            </th>
    }
                </tbody>
            </table>
        </div>
    </div>
</div>





