@model IEnumerable<ArtProject2016.Models.WishList>

@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Current = "Wishlist";
}



        <div id="content">
            <div class="container">

                <div class="col-md-9">
                  <div class="box">
                        <h1>Wishlist</h1>
                        <p>Buy it now :)</p>
                    </div>
                    
                     <div class="row products">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-6">

                        <div class="product">
                           
                                <div class="flip-container">
                                    <div class="flipper">

                                        <div class="front">

                                            <a href="@Url.Content("/Shop/ArtDetails/" + @item.Id)">
                                                <img src="@Url.Content(item.ForSale.Path)" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="@Url.Content("/Shop/ArtDetails/" + @item.Id)">
                                                <img src="@Url.Content(item.ForSale.Path)" alt="" class="img-responsive">
                                            </a>

                                        </div>

                                    </div>

                                </div>
                                <a href="/Shop/ArtDetails/@item.Id" class="invisible">
                                    <img src="@Url.Content(item.ForSale.Path)" alt="" class="img-responsive">
                                </a>  
                           
                            <div class="text">
                                <p class="title"><a href="/Shop/ArtDetails/@item.Id">@Html.DisplayFor(modelItem => item.ForSale.Title)</a></p>
                                <p class="subtitle">@Html.DisplayFor(modelItem => item.ForSale.hSize)" Height x @Html.DisplayFor(modelItem => item.ForSale.wSize)" Width </p>
                                <br />
                                <div class="col-md-6 col-sm-6">

                                    @if (item.ForSale.otherArtist)
                                    {
                                        <p class="name">@Html.DisplayFor(modelItem => item.ForSale.otherArtistName)</p>
                                        <p class="name">@Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)</p>
                                    }
                                    else
                                    {
                                        <p class="name">@Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)</p>
                                         <p class="sub">@Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault().province)</p>
                                    }
                                   
                                </div>

                                <div class="col-md-6 col-sm-6">

                                    <p class="price">@Html.DisplayFor(modelItem => item.ForSale.Price)</p>
                                </div>

                          
                                <p class="buttons">
                                    <hr/>
                                        @Html.ActionLink("View Art Details", "ArtDetails", "Shop", new { Id = item.ForSaleId }, new { @class = "btn-lg btn-primary buttonC"})
                                 </p>
                            </div>
                            <!-- /.text -->
                            @if (item.ForSale.Sold)
                            {
                                <div class="ribbon new">
                                    <div class="theribbon">SOLD!</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            }
                        </div>

                        <!-- /.product -->
                    </div>
                }
            </div>

                    @*   
                    <div class="row products">
                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                    </div>
                <!-- /.col-md-9 -->*@

            </div>
            <!-- /.container -->
        </div>
  </div>

