@model ArtProject2016.ViewModel.ShopLayoutViewModel

@{
    ViewBag.Current = Request.Params["style"];
    ViewBag.CurrentNick = Request.Params["Artist"];
}

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Styles </h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            
                    @foreach (var item in Model.Styles)
                    {
                        <li class="@(ViewBag.Current == item.name ? "active" : "") text-center"><a href="@Url.Action("Gallery", "Shop", new { style = @item.name })">@item.name</a></li>
                    }  
            @* <li >
            <a href="category.html">Paintings  <span class="badge pull-right">123</span></a>
            <ul>
                <li><a href="category.html">Water Color</a>
                </li>
                <li><a href="category.html">Oil</a>
                </li>
                <li><a href="category.html">Coffee based</a>
                </li>
                <li><a href="category.html">Crayola</a>
                </li>
            </ul>
        </li>*@

        </ul>

    </div>
</div>

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Featured Artist</h3>
    </div>

    <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
        @foreach (var item in Model.UserAccounts)
                    {
                        <li class="@(ViewBag.CurrentNick == item.nickName ? "active" : "") text-center"><a href="@Url.Action("Gallery", "Shop", new { Artist = @item.nickName })">@item.nickName</a></li>
                    }

        </ul>
    </div>
</div>

