@model ArtProject2016.ViewModel.ShopLayoutViewModel

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">


            <li class="active">
                <a href="#">Categories <span class="badge pull-right">@Model.Categories.Count</span></a>


                <ul>
                    @foreach (var item in Model.Categories)
                    {
                        <li class="text-center"><a href="@Url.Action("Gallery", "Shop", new { category = @item.name })">@item.name</a></li>
                    }
                </ul>
            </li>
            <li>
                <a href="#">Artist <span class="badge pull-right">@Model.UserAccounts.Count</span></a>


                <ul>
                    @foreach (var item in Model.UserAccounts)
                    {
                        <li class="text-center"><a href="@Url.Action("Gallery", "Shop", new { Artist = @item.nickName })">@item.nickName</a></li>
                    }

                </ul>
            </li>
            @* <li >
            <a href="category.html">Paintings  <span class="badge pull-right">123</span></a>
            <ul>
                <li><a href="category.html">Water Color</a>
                </li>
                <li><a href="category.html">Oil</a>
                </li>
                <li><a href="category.html">Coffee based</a>
                </li>
                <li><a href="category.html">Crayola</a>
                </li>
            </ul>
        </li>*@

        </ul>

    </div>
</div>

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Categories <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i>Clear</a></h3>
    </div>

    <div class="panel-body">

        <form>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Armani (10)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Versace (12)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Carlo Bruni (15)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Jack Honey (14)
                    </label>
                </div>
            </div>

            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>Apply</button>

        </form>

    </div>
</div>

