@model ArtProject2016.ViewModel.checkoutDetailsViewModel
@{
    ViewBag.Title = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>


<div id="content">



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>Shop</li>
                    <li>Checkout</li>
                </ul>
            </div>

            <div class="col-md-9" id="checkout">


                <div class="box">

                    <h1>Checkout</h1>
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a href="#"><i class="fa fa-map-marker"></i><i class="fa fa-truck"></i>
                            <br>
                            Personal details and Shipping address</a>
                        </li>

                        @*  <li class="disabled"><a href="#"><i class="fa fa-money"></i>
                        <br>
                        Payment Method</a>
                    </li>*@
                        <li class="disabled"><a href="#"><i class="fa fa-eye"></i><i class="fa fa-money"></i>
                            <br>
                            Order Summary</a>
                        </li>
                    </ul>

                    <div class="content">


                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    @Html.EditorFor(model => model.FirstName, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Lastname</label>
                                    @Html.EditorFor(model => model.LastName, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName)

                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="street">Mobile Number</label>
                                    @Html.EditorFor(model => model.MobileNo, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MobileNo)

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="street">Street and Address</label>
                                    @Html.EditorFor(model => model.Street, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Street)

                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="street">City</label>
                                    @Html.EditorFor(model => model.City, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City)

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="street">Province</label>
                                    @Html.EditorFor(model => model.Province, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Province)

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="street">Postal Code</label>
                                    @Html.EditorFor(model => model.PostalCode, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PostalCode)

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="street">Land Line</label>
                                    @Html.EditorFor(model => model.LandLine, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LandLine)

                                </div>
                            </div>



                        </div>




                        <!-- /.row -->
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("Cart", "Shop")" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Art Basket</a>
                            @*   @Html.ActionLink("Continue to Order Summary","CheckoutDetails","Shop",null, new { @class = "btn-lg btn-primary"})
                        *@
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn-lg btn-primary">Continue to Order Summary<i class="fa fa-chevron-right"></i></button>

                            @* <button type="submit" class="btn-lg btn-primary">
                                Continue to Order Summary<i class="fa fa-chevron-right"></i>
                            </button>*@
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">

                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>@Html.DisplayFor(item => item.SubTotal) </th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>FREE</th>
                                </tr>
                                <tr>
                                    <td>Voucher</td>
                                    <th>@Html.DisplayFor(item => item.VoucherDeduction)</th>
                                    @Html.HiddenFor(item => item.VoucherDeduction)
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>@Html.DisplayFor(item => item.CartTotal)</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                @*       <div class="box">
                    <div class="box-header">
                        <h4>Coupon code</h4>
                    </div>
                    <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>*@

            </div>
            <!-- /.col-md-3 -->

        </div>
    }
    <!-- /.container -->
</div>
