@model ArtProject2016.ViewModel.CheckoutViewModel

@{
    ViewBag.Title = "CheckOutSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    $(document).ready(function () {
        $("#voucherAlert").hide();
        $('#voucherBtn').click(function () {
            var voucherCode = $("#voucherTxtbox").val();

            $.ajax({
                type: 'POST',
                url: '/Shop/AddVoucher',
                data: { voucher: voucherCode },
                success: function (data) {
                    //$('#row-' + data.DeleteId).fadeOut('slow');
                    //    $('#total').text('₱' + parseFloat(data.Total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    //    $('#voucherDed').text('₱' + parseFloat(data.VoucherDeduction, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString()); //('$' + parseFloat(data.Total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,")
                    if (data.vouchAdd == "false") {
                        $("#voucherAlert").show();
                        $("#voucherAlert").text(data.Error);
                    } else {
                        $("#summaryTable").html(data);
                        // $("#voucherAlert").addClass("alert alert-success");
                        $("#voucherAlert").text("Voucher Discount added").show();
                    }


                    //$('#total').html("₱" + data.Total);
                    //$('#voucherDed').html("₱" + data.VoucherDeduction); 
                },
                error: function (data) {
                    alert("error");
                }
            });
        });
    });
</script>
<div id="content">
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>Checkout - Order Summary</li>
                </ul>
            </div>
               
            <div class="col-md-9" id="checkout">

                <div class="box">
                    <h1>Checkout - Order Summary</h1>
                    <ul class="nav nav-pills nav-justified">
                        <li class="disabled"><a href="#"><i class="fa fa-map-marker"></i><i class="fa fa-truck"></i>
                            <br>
                            Personal details and Shipping address</a>
                        </li>

                        <li class="active"><a href="#"><i class="fa fa-eye"></i><i class="fa fa-money"></i>
                            <br>
                            Order Summary</a>
                        </li>
                    </ul>

                    <div class="content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Painting</th>
                                        <th>Title & Artist</th>
                                        <th>Quantity</th>
                                        <th>Unit price</th>
                                        <th>Size (Width X Height)</th>
                                        <th colspan="2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr id="row-@item.Id">
                                            <td>
                                                <a href="#">
                                                    <img src="@Url.Content(item.ForSale.Path)" style="width: 250px">
                                                </a>
                                            </td>
                                            @if (item.ForSale.otherArtist)
                                            {
                                                <td class="titletd">"@Html.DisplayFor(modelItem => item.ForSale.Title)"
                                                <br />
                                                    by @Html.DisplayFor(modelItem => item.ForSale.otherArtistName)
                                                    from  @Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="titletd">"@Html.DisplayFor(modelItem => item.ForSale.Title)"
                                                <br />
                                                    by  @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)
                                                    <br />
                                                    from @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault().province)
                                                </td>

                                            }

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.ForSale.Price)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ForSale.wSize)" W X @Html.DisplayFor(modelItem => item.ForSale.hSize)" H</td>
                                            <td>@Html.DisplayFor(modelItem => item.ForSale.Price)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5">Total</th>
                                        <th colspan="2" class="cart-total">@Html.DisplayFor(modelItem => modelItem.SubTotal)</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.table-responsive -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="box" id="order-summary">
                                    <div class="box-headerCheckout">
                                        <h3>Shipping Address</h3>
                                    </div>
                                    <div class="checkoutAddress">
                                        <p class="namee">@Html.DisplayFor(item => item.UserAccount.firstName) @Html.DisplayFor(item => item.UserAccount.lastName)</p>
                                        <p>@Html.DisplayFor(item => item.UserProfile.street)</p>
                                        <p>@Html.DisplayFor(item => item.UserProfile.city)</p>
                                        <p>@Html.DisplayFor(item => item.UserProfile.province), @Html.DisplayFor(item => item.UserProfile.postalCode)</p>
                                        <p>@Html.DisplayFor(item => item.UserProfile.mobileNo)</p>
                                        <p>@Html.DisplayFor(item => item.UserProfile.landLine)</p>
                                        <p>@Html.DisplayFor(item => item.UserAccount.userName)</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.content -->

                    <div class="box-footer">
                        <div class="pull-left">
                            @Html.ActionLink("Back to shipping details", "CheckoutDetails", "Shop", null, new { @class = "btn btn-default" })
                        </div>
                        <div class="pull-right">
                            
                            <a href="@Url.Action("PayPalCheck")" data-paypal-button="true">
                                <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
                            </a>
                            <button type="submit" class="btn-lg btn-primary">
                                Place an order<i class="fa fa-chevron-right"></i>
                            </button>

                           

                        </div>
                    </div>
                </div>
                <!-- /.box -->


            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">

                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                    <div class="table-responsive">


                        @Html.Partial("_summary", Model)

                        <div class="box-footer">
                            <div class="alert alert-danger" role="alert" id="voucherAlert"></div>
                            <p class="text-muted">If you have a voucher code, please enter it in the box below.</p>
                            <div class="input-group">

                                <input type="text" class="form-control" id="voucherTxtbox">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="voucherBtn"><i class="fa fa-gift"></i></button>

                                </span>
                            </div>
                            @* <div class="text-center">
                                 <button class="btn btn-default"><i class="fa fa-refresh"></i>Update basket</button>
                            <a href="@Url.Action("AddVoucher", "Shop")" class="btn btn-primary">Place an Order
                             <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                         </div>*@
                        </div>
                    </div>

                </div>

                @*<div class="box">
                <div class="box-header">
                    <h4>Coupon code</h4>
                </div>
                <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <div class="input-group">

                        <input type="text" class="form-control" id="voucherTxtbox">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="voucherBtn"><i class="fa fa-gift"></i></button>

                        </span>
                    </div>
                    <!-- /input-group -->
        
            </div>*@

            </div>
            <!-- /.col-md-3 -->
        }
    </div>
    <!-- /.container -->
</div>
