@using ArtProject2016.Models
@model IEnumerable<ArtProject2016.Models.ForSale>
@*@model PagedList.IPagedList<ForSale>*@
@using PagedList.Mvc

@{
    ViewBag.Title = "Shop Gallery";
    ViewBag.Layout = "Gallery";
  //  TempData["urlParameter"] = HttpContext.Current.Request.QueryString.ToString();
}


<div class="box">
                <h1>Paintings</h1>
                <p>We offer wide selection of the best artworks and uploaded by local artist.</p>
            </div>

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-6 products-showing">
                           <div class="products-sort-by form-inline">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price (Lowest to Highest)</option>
                                            <option>Price (Highest to Lowest)</option>
                                            <option>Sales first</option>
                                        </select>
                                    </div>
                    </div>

                    <div class="col-sm-12 col-md-6  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-8 col-sm-12">
                                    @Html.Partial("_SearchBox")
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    @using(Html.BeginForm("Gallery","Shop",FormMethod.Get))
                                    {
                                         <input id="resetBtn" type="button" class="btn btn-success" value="Reset fields"/>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<div class="row products">
    
    @if(Model.Count() > 0)
    {
    foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6">

            <div class="product">
                           
                <div class="flip-container">
                    <div class="flipper">

                        <div class="front">

                            <a href="/Shop/ArtDetails/@item.Id">
                                <img src="@Url.Content(item.Path)" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="/Shop/ArtDetails/@item.Id">
                                <img src="@Url.Content(item.Path)" alt="" class="img-responsive">
                            </a>

                        </div>

                    </div>

                </div>
                <a href="/Shop/ArtDetails/@item.Id" class="invisible">
                    <img src="@Url.Content(item.Path)" alt="" class="img-responsive">
                </a>  
                           
                <div class="text">
                    <p class="title"><a href="/Shop/ArtDetails/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></p>
                    <p class="subtitle">@Html.DisplayFor(modelItem => item.hSize)" Height x @Html.DisplayFor(modelItem => item.wSize)" Width </p>
                    <br />
                    <div class="col-md-6 col-sm-6">

                        @if (item.otherArtist)
                        {
                            <p class="name">@Html.DisplayFor(modelItem => item.otherArtistName)</p>
                            <p class="name">@Html.DisplayFor(modelItem => item.otherArtistAddress)</p>
                        }
                        else
                        {
                            <p class="name">@Html.DisplayFor(modelItem => item.SellerAccount.nickName)</p>
                            <p class="sub">@Html.DisplayFor(modelItem => item.SellerAccount.UserProfile.province)</p>
                        }
                                   
                    </div>

                    <div class="col-md-6 col-sm-6">

                        <p class="price">@Html.DisplayFor(modelItem => item.Price)</p>
                    </div>

                          
                    <p class="buttons">
                        <hr/>
                        @Html.ActionLink("View Art Details", "ArtDetails", "Shop", new { Id = item.Id }, new { @class = "btn-lg btn-primary buttonC" })
                    </p>
                </div>
                <!-- /.text -->
                @if (item.Sold)
                {
                    <div class="ribbon new">
                        <div class="theribbon">SOLD!</div>
                        <div class="ribbon-background"></div>
                    </div>
                }
            </div>

            <!-- /.product -->
        </div>
    }
    }else
    {
        <div class="col-md-12 col-sm-12 box">
            
            <h1>No results found. Search another artwork :)</h1>
            
            <ul>
               <strong>Recommendations! </strong> 
                <li> Search for Artist Name or even the province where the artwork originated</li>
                <li>Search for the materials used in the artwork like oil, water color, pencil,etc..</li>
            </ul>
        
        </div>
    }
</div>

            <!-- /.products -->

            <div class="pages">

                <p class="loadMore">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i>Load more</a>
                </p>
                
                
                @*  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page > Url.Action("Gallery", new { page, currentFilter = ViewBag.currentFilter }))
               <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>*@
            </div>



