@model IEnumerable<ArtProject2016.Models.OrderDetail>

@{
    ViewBag.Title = "Sold Art";
    ViewBag.Current = "Sell";
}



<div class="col-md-9" id="customer-order">
    <div class="box clearfix">

        <div class="col-md-7">
            <h1>Sold Arts</h1>

            <p class="lead">Please prepare the art and ship it</p>

        </div>
        <div class="col-md-5">
            <br />
            <p class="lead">Pending Cash: @ViewBag.Pending</p>
            <p class="lead">Redeemable Cash: @ViewBag.Redeemable </p>
        </div>
        <div class="col-md-12">
            <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

        </div>

    </div>
    @if(Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row products box">
                
                    <div class="col-md-4" id="text-page">

                        <span style="margin-left: 20px">
                            <img src="@Url.Content(item.ForSale.Path)"  width="240px" class="img-responsive"/></span>

                    </div>
                    <div class="col-md-8" id="order-summary">
                        <h3>Title:   @Html.DisplayFor(modelItem => item.ForSale.Title)</h3>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        @if (item.ForSale.otherArtist)
                                        {
                                            <td>Artist Name: </td>
                                            <th>@Html.DisplayFor(modelItem => item.ForSale.otherArtistName)</th>
                                            <td>From: </td>
                                            <th>@Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)</th>
                                    
                                        }
                                        else
                                        {
                                            <td>Artist Name:  </td>
                                            <th>@Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)</th>
                                            <td>From: </td>
                                            <th>@Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfile.province)</th>
                                   
                                        }
                                    </tr>
                                    <tr>
                                        <td>Profit:</td>
                                        <th>@Html.DisplayFor(modelItem => item.ForSale.Profit)</th>
                                        <td>Order Date:</td>
                                        <th> @String.Format("{0:d}", item.Order.OrderDate)</th>

                                    </tr>
                                    <tr>
                                        <td>Size: </td>
                                        <th>@Html.DisplayFor(modelItem => item.ForSale.wSize) x @Html.DisplayFor(modelItem => item.ForSale.hSize)</th>
                                        <td>Status:</td>
                                        <th>
                                            @if (item.Shipped)
                                            {
                                                <span class="label label-success">@Html.DisplayFor(modelItem => item.OrderDetailStatus)</span>
                                            }
                                            else
                                            {
                                                <span class="label label-info">@Html.DisplayFor(modelItem => item.OrderDetailStatus)</span>
                                            }

                                        </th>
                                    </tr>

                                    @if (item.Order.Paid)
                                    {
                                        if (item.Returned)
                                        { 
                                        <tr>
                                            <td>Tracking Number:</td>
                                            <th>@Html.DisplayFor(modelItem => item.ReturnedTrackingNumber)</th>
                                        </tr>   
                                        <tr class="total">
                                            <td colspan="4">
                                                @Html.ActionLink("Returned", "Return", new { Id = item.Id }, new { @class = "btn btn-warning" })
                                            </td>
                                        </tr>
                                        }
                                        else
                                        {
                                            if (item.Shipped)
                                            {
                                        <tr>
                                            <td>Tracking Number:</td>
                                            <th colspan="4">@Html.DisplayFor(modelItem => item.ShippingCompany.Name) - @Html.DisplayFor(modelItem => item.TrackingNumber)</th>
                                        </tr> 
                                            }
                                            else
                                            {
                                                <tr class="total">
                                                        <th>Controls:</th>
                                                    <td >
                                                        @Html.ActionLink("View Buyer Details", "BuyerDetails", new { Id = item.Id }, new { @class = "btn btn-info" }) </td>
                                                        <td >
                                                        @Html.ActionLink("Input Tracking #", "Shipment", new { Id = item.Id }, new { @class = "btn btn-success" })
                                                    </td>
                                                </tr> 
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @*this will not be hit bec of server side code*@
                                        <tr>
                                            <td>Tracking Number:</td>
                                            <th>No tracking #</th>
                                            <td>Do not Ship</td>
                                            <th>
                                                <span class="label label-warning">Waiting for Payment. Don't Ship it yet.</span>
                                            </th>
                                        </tr>  
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
           
            <!-- /.products buttonsR -->   
        }
      }
    else
    {
         <div class="row products box">
       <h2 class="text-center">Start to sell artwork, @Html.ActionLink("Post it now :)","Upload","Art")</h2>
             </div>
       
    }

    </div>



