@model IEnumerable<ArtProject2016.Models.OrderDetail>

@{
    ViewBag.Title = "Sold Art";
    ViewBag.Current = "Sell";
}



<div class="col-md-9" id="customer-order">
    <div class="box">
        
        <div class="col-md-7">
            <h1>Sold Arts</h1>

            <p class="lead">Please prepare the art and ship it</p>
               
        </div>
        <div class="col-md-5">
            <br/>
            <p class="lead">Pending Cash: @ViewBag.Pending</p>
            <p class="lead">Redeemable Cash: @ViewBag.Redeemable </p>
        </div>
        <div class="col-md-12">
             <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

        </div>
    
        <hr>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Art Image</th>
                        <th colspan="2">@Html.DisplayNameFor(model => model.ForSale.Title) & Artist</th>
                        <th>@Html.DisplayNameFor(model => model.Order.OrderDate)</th>
                        <th>@Html.DisplayNameFor(model => model.ForSale.Profit)</th>
                        <th>@Html.DisplayNameFor(model => model.OrderDetailStatus)</th>
                        <th>Tracking Number</th>
                        <th>Controls</th>
                                 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="@Url.Content(item.ForSale.Path)" alt="@item.ForSale.Title" style="width: 200px">
                                </a>
                            </td>
                            <td>
                                @if (item.ForSale.otherArtist)
                                {
                                    <td class="titletd">"@Html.DisplayFor(modelItem => item.ForSale.Title)"
                                        <br />
                                        by @Html.DisplayFor(modelItem => item.ForSale.otherArtistName)
                                        <br />
                                        from  @Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)
                                    </td>
                                }
                                else
                                {
                                    <td class="titletd">"@Html.DisplayFor(modelItem => item.ForSale.Title)"
                                        <br />
                                        by  @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)
                                        <br />
                                        from @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault(u => u.Id == item.ForSale.SellerId).province)
                                    </td>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Order.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ForSale.Profit)
                            </td>
                            <td>
                                @if(item.Shipped)
                                {
                                    <span class="label label-success">@Html.DisplayFor(modelItem => item.OrderDetailStatus)</span>
                                }
                                else
                                {
                                    <span class="label label-info">@Html.DisplayFor(modelItem => item.OrderDetailStatus)</span>
                                }
                            </td>

                            @if (item.Order.Paid)
                            {
                                if (item.Returned)
                                {
                                    <td>@Html.DisplayFor(modelItem => item.ReturnedTrackingNumber)</td>
                                    <td>@Html.ActionLink("Returned", "Return", new { Id = item.Id }, new { @class = "btn btn-warning" })</td>
                                }
                                else
                                {
                                    if (item.Shipped)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.ShippingCompany.Name) <br />
                                            @Html.DisplayFor(modelItem => item.TrackingNumber)</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("View Buyer Details", "BuyerDetails", new { Id = item.Id }, new { @class = "btn btn-info" }) <br /> <br />
                                            @Html.ActionLink("Input Tracking #", "Shipment", new { Id = item.Id }, new { @class = "btn btn-success" })
                                        </td>
                                    }
                                }
                            }
                            else
                            {
                                <td>No tracking # yet</td>
                                <td>
                                    <span class="label label-warning">Waiting for Payment. Don't Ship it yet.</span>
                                </td>
                            }
                        </tr>
                    }

                </tbody>
                @*<tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Order subtotal</th>
                        <th>@Model.First().Order.SubTotal</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Shipping and handling</th>
                        <th>Free</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Voucher Discount</th>
                        <th>@Model.First().Order.VoucherDeduction</th>
                    </tr>

                    <tr>
                        <th colspan="5" class="text-right">Total</th>
                        <th>@Model.First().Order.Total</th>
                    </tr>
                </tfoot>*@
            </table>

        </div>
        <!-- /.table-responsive -->


    </div>
</div>



