@model ArtProject2016.Models.Payout

<script>
    $(document).ready(function () {
        $("input[name='PayOutMethod']:radio").change(function () {
            if ($("input[value='PayPal']").is(":checked")) {
                $('#information').text("PayPal Email Account");
            } else if ($("input[value='LBC']").is(":checked")) {
                $('#information').text("LBC Branch Address");
            } else {
                $('#information').text("Bank Account Number & other instructions(if any)");
            }
        });
    });
    

</script>


<div class="modal fade" id="pay-modal" tabindex="-1" role="dialog" aria-labelledby="RequestPayout" aria-hidden="true">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="pay">Payout Request Module</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RequestPayout", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        <label for="PayOutMethod"><strong>Payout Method</strong></label>
                        <br />
                        <label style="padding-left: 20px; font-weight: 500">@Html.RadioButtonFor(m => m.PayOutMethod, "PayPal", new { @class = "form-control" }) PayPal</label>
                        <label style="padding-left: 20px; font-weight: 500">@Html.RadioButtonFor(m => m.PayOutMethod, "BDO Bank", new { @class = "form-control" })BDO Bank</label>
                        <label style="padding-left: 10px; font-weight: 500">@Html.RadioButtonFor(m => m.PayOutMethod, "Security Bank", new { @class = "form-control" }) Security Bank</label>
                        <label style="padding-left: 10px; font-weight: 500">@Html.RadioButtonFor(m => m.PayOutMethod, "LBC", new { @class = "form-control" }) LBC</label>
                        <label style="padding-left: 10px; font-weight: 500">@Html.RadioButtonFor(m => m.PayOutMethod, "BPI", new { @class = "form-control" }) BPI</label>
                        @Html.ValidationMessageFor(model => model.PayOutMethod)
                    </div>
                            
                              
                    <div class="form-group">
                        <label for="RedeemedPayoutAmt"><strong>Amount</strong></label>
                        <div class="input-group">
                            <div class="input-group-addon">₱</div>
                            @Html.TextBoxFor(m => m.RedeemedPayoutAmt, new { @class = "form-control", @readonly = "true" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RedeemedPayoutAmt)
                    </div>
                    <div class="form-group">
                        <label for="RedeemedPayoutAmt"><strong>Full Name: </strong></label>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </div>
                    <div class="form-group">
                        <label><strong id="information">Bank Account Number </strong></label>
                        @Html.TextBoxFor(m => m.PaymentInfo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PaymentInfo)
                    </div>
                              
                    <p class="text-center">
                        <button class="btn btn-primary"><i class="fa fa-sign-in"></i>Submit Payout Request</button>
                    </p>
                }
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="pay-insuf" tabindex="-1" role="dialog" aria-labelledby="RequestPayout" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="pay">Payout Request Module</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    Your Redeemable Cash must reach a minimum of <strong> ₱ 3000.00</strong> to be eligible for payout. <br/><br/>
                    But you can request a payout with less than ₱ 3000.00 with minimal transfer fee, just send an email to
                    support@ArtProject2016.com to process it.

                </p>
                              
                    <p class="text-center">
                        <button class="btn btn-info"><i class="fa fa-sign-in"></i>Okie, got it!</button>
                    </p>
              
            </div>
        </div>
    </div>
</div>