@using ArtProject2016.Models
@model ArtProject2016.ViewModel.PayoutViewModel
@{
    ViewBag.Title = "PayOut";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Current = "PayOut";
    
}

<div class="col-md-9" id="customer-order">
    <div class="box">
        <h1>My Payout</h1>
        <p class="lead">Check all your sold items / redeemed payments here.</p>
        <p class="text-muted">If you have questions please dont hesitate to contact us </p>


        <hr />

        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#pending" aria-controls="home" role="tab" data-toggle="tab">Pending</a></li>
            <li role="presentation"><a href="#redeemable" aria-controls="profile" role="tab" data-toggle="tab">Redeemable</a></li>
            <li role="presentation"><a href="#redeemed" aria-controls="messages" role="tab" data-toggle="tab">Redeemed</a></li>
            <li role="presentation"><a href="#payout" aria-controls="settings" role="tab" data-toggle="tab">Payout</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="pending">
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Art Title</th>
                                <th>Artist</th>
                                <th>Ordered Date</th>
                                <th>Redeemable In</th>
                                <th>Profit</th>
                                <th>Refundable Shipping</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PendingOrderDetails.Count > 0)
                            {
                                foreach (var item in Model.PendingOrderDetails)
                                {
                                <tr>
                                    <th>"@Html.DisplayFor(modelItem => item.ForSale.Title)"</th>

                                    @if (item.ForSale.otherArtist)
                                    {
                                        <td class="titletd">
                                            @Html.DisplayFor(modelItem => item.ForSale.otherArtistName)
                                            <br />
                                            from  @Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="titletd">
                                            @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)
                                            <br />
                                            from @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault(u => u.Id == item.ForSale.SellerId).province)
                                        </td>
                                    }

                                    <td>
                                        @String.Format("{0:d}", item.Order.OrderDate)</td>
                                    @*date.BuyerReceivedDateTime.Value.AddDays(10) - DateTime.Now.Date*@

                                    <td>
                                        @if (item.BuyerReceived)
                                        {
                                            @Convert.ToInt32(((item.BuyerReceivedDateTime.Value.Date.AddDays(10) - DateTime.Now.Date).TotalDays)) @:Day(s) - @item.BuyerReceivedDateTime.Value.AddDays(10).ToShortDateString()
                                        }
                                        else
                                        {
                                            @:10 days after Buyer received it.
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ForSale.Profit)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ForSale.ShippingFee)</td>

                                </tr>
                                }
                            }
                            else
                            {
                                <th colspan="6">
                                    <h2>No Data to display at the moment.</h2>
                                </th>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Total Pending Amount</th>
                                <th>₱<strong> @Model.PendingAmt</strong></th>
                            </tr>

                        </tfoot>
                    </table>
                </div>





            </div>
            <div role="tabpanel" class="tab-pane fade" id="redeemable">

                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Details ID</th>
                                <th>Art Title</th>
                                <th>Artist</th>
                                <th>Ordered Date</th>
                                <th>Profit</th>
                                <th>Refundable Shipping</th>
                             </tr>
                        </thead>
                        <tbody>
                            @if (Model.RedeemOrderDetails.Count > 0)
                            {

                                foreach (var item in Model.RedeemOrderDetails)
                                {

                                <tr>
                                    <th># @Html.DisplayFor(modelItem => item.Id)</th>

                                    <th>"@Html.DisplayFor(modelItem => item.ForSale.Title)"</th>

                                    @if (item.ForSale.otherArtist)
                                    {
                                        <td class="titletd">
                                            @Html.DisplayFor(modelItem => item.ForSale.otherArtistName)
                                            <br />
                                            from  @Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="titletd">
                                            @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)
                                            <br />
                                            from @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault(u => u.Id == item.ForSale.SellerId).province)
                                        </td>
                                    }

                                    <td>
                                        @String.Format("{0:d}", item.Order.OrderDate)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ForSale.Profit)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.SumShippingAdjustment)</td>*@
                                 <td>@Html.Raw(item.ForSale.ShippingFee + item.PriceAdjustment)</td>
                                </tr>
                                }
                            }
                            else
                            {
                                <th colspan="6">
                                    <h2>No Data to display at the moment.</h2>
                                </th>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Total Redeemable Amount</th>
                                <th>₱ <strong>@Model.RedeemableAmt</strong> </th>
                            </tr>

                            @if (Model.RedeemableAmt >= 3000)
                            {
                                <tr>
                                    <th colspan="6" class="text-right"><a href="#" data-toggle="modal" data-target="#pay-modal" class="btn btn-success">Request Payout</a></th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th colspan="6" class="text-right"><a href="#" data-toggle="modal" data-target="#pay-insuf" class="btn btn-info">Request Payout</a></th>
                                </tr>
                            }
                            @Html.Partial("_RequestPayout", new Payout { RedeemedPayoutAmt = Model.RedeemableAmt })
                        </tfoot>
                    </table>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="redeemed">

                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Details ID</th>
                                <th>Art Title</th>
                                <th>Artist</th>
                                <th>Ordered Date</th>
                                <th>Profit</th>
                                <th>Refunded Shipping Fee</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.RedeemedOrderDetails.Count > 0)
                            {
                                foreach (var item in Model.RedeemedOrderDetails)
                                {
                                <tr>
                                    <th># @Html.DisplayFor(modelItem => item.Id)</th>

                                    <th>"@Html.DisplayFor(modelItem => item.ForSale.Title)"</th>

                                    @if (item.ForSale.otherArtist)
                                    {
                                        <td class="titletd">
                                            @Html.DisplayFor(modelItem => item.ForSale.otherArtistName)
                                            <br />
                                            from  @Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="titletd">
                                            @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)
                                            <br />
                                            from @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault(u => u.Id == item.ForSale.SellerId).province)
                                        </td>
                                    }

                                    <td>
                                        @String.Format("{0:d}", item.Order.OrderDate)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ForSale.Profit)</td>
                                     @*   <td>@Html.DisplayFor(modelItem => item.SumShippingAdjustment)</td>*@
                                      <td>@Html.Raw(item.ForSale.ShippingFee + item.PriceAdjustment)</td>
                                </tr>
                                }
                            }
                            else
                            {
                                <th colspan="6">
                                    <h2>No Data to display at the moment.</h2>
                                </th>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Total Redeemed Amount</th>
                                <th>₱ <strong>@Model.RedeemedAmt</strong> </th>
                            </tr>


                        </tfoot>
                    </table>
                </div>




            </div>
            <div role="tabpanel" class="tab-pane fade" id="payout">

                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Method</th>
                                <th>Payment Info</th>
                                <th>Full Name</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Redeemed Amount</th>


                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Payouts.Count > 0)
                            {
                                foreach (var item in Model.Payouts)
                                {
                                
                                
                                <tr>
                                    <th>@Html.DisplayFor(modelItem => item.PayOutMethod)</th>

                                    <th>@Html.DisplayFor(modelItem => item.PaymentInfo)</th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.FullName)</th>


                                    <td>
                                        @String.Format("{0:d}", item.DateRequested)</td>
                                    <td>
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Status) </span></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RedeemedPayoutAmt)</td>
                                </tr>
                                }
                            }
                            else
                            {
                                <th colspan="6">
                                    <h2>No Data to display at the moment.</h2>
                                </th>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Total Redeemed Amount</th>
                                <th>₱ <strong>@Model.RedeemedAmt</strong> </th>
                            </tr>

                        </tfoot>
                    </table>
                </div>



            </div>
        </div>

    </div>



</div>

