@model ArtProject2016.Models.OrderDetail

@{
    ViewBag.Title = "EditOrderDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $('#BuyerReceived').click(function () {
            if ($(this).is(':checked')) {
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear() + "-" + (month) + "-" + (day);
                $("#BuyerReceivedDateTime").val(today);
            } else {
                $("#BuyerReceivedDateTime").val(null);
            }
        });

    });


</script>

<div class="col-md-9">
<div class="box">
   
    <h2>EditOrderDetails</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>OrderDetail</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OrderId)
            @Html.HiddenFor(model => model.ForSale.ShippingFee)
            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderDetailStatus, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OrderDetailStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderDetailStatus)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.ShippingCompanyId, new { @class = "control-label col-md-4" }) 
                <label style="color: red">Code # lng ilagay. 1 -LBC, 2 -Air21, 3 -Xend, if mgdagdag message-Jeryl</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ShippingCompanyId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShippingCompanyId)
                </div>
            </div>
            

            <div class="form-group">
                @Html.LabelFor(model => model.Shipped, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Shipped, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Shipped)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrackingNumber, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TrackingNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrackingNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Returned, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Returned, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Returned)
                </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(model => model.RetrunShippingCompany, new { @class = "control-label col-md-4" })
                <label style="color: red">Hindi CODE lng ilalagay,Buong shipping name ex. LBC/Air21..</label><div class="col-md-8">
                    @Html.EditorFor(model => model.RetrunShippingCompany, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RetrunShippingCompany)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReturnedTrackingNumber, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReturnedTrackingNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReturnedTrackingNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BuyerReceived, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BuyerReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BuyerReceived)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BuyerReceivedDateTime, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BuyerReceivedDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BuyerReceivedDateTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReadyToRedeem, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReadyToRedeem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReadyToRedeem)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Redeemed, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Redeemed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Redeemed)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriceAdjustment, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PriceAdjustment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PriceAdjustment)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" value="Save Changes? Double check the values first!" class="btn-lg btn-info" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
        </div>
</div>