@model IEnumerable<ArtProject2016.Models.OrderDetail>

@{
    ViewBag.Title = "My Orders";
    ViewBag.Current = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-9" id="customer-order">
    <div class="box">
        <h1>Order #@Model.First().OrderId</h1>

        <p class="lead">Order #@Model.First().OrderId was placed on <strong>@Model.First().Order.OrderDate.ToShortDateString()</strong> and is currently <strong>@Model.First().Order.OrderStatus</strong>.</p>
        <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

        <hr>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Art Image</th>
                        <th colspan="2">@Html.DisplayNameFor(model => model.ForSale.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                        <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
                        <th>@Html.DisplayNameFor(model => model.OrderDetailStatus)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="@Url.Content(item.ForSale.Path)" alt="@item.ForSale.Title" style="width: 200px">
                                </a>
                            </td>
                            <td>
                                @if (item.ForSale.otherArtist)
                                {
                                    <td class="titletd">"@Html.DisplayFor(modelItem => item.ForSale.Title)"
                                                 <br />
                                        by @Html.DisplayFor(modelItem => item.ForSale.otherArtistName)
                                        <br />
                                        from  @Html.DisplayFor(modelItem => item.ForSale.otherArtistAddress)
                                    </td>
                                }
                                else
                                {
                                    <td class="titletd">"@Html.DisplayFor(modelItem => item.ForSale.Title)"
                                                <br />
                                        by  @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.nickName)
                                        <br />
                                        from @Html.DisplayFor(modelItem => item.ForSale.SellerAccount.UserProfiles.SingleOrDefault(u => u.Id == item.ForSale.SellerId).province)
                                    </td>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @if (item.Shipped)
                                {
                                    <span class="label label-success">@Html.DisplayFor(modelItem => item.OrderDetailStatus)</span>
                                }
                                else
                                {
                                    <span class="label label-info">@Html.DisplayFor(modelItem => item.OrderDetailStatus)</span>
                                }
                            </td>

                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Order subtotal</th>
                        <th>@Model.First().Order.SubTotal</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Shipping and handling</th>
                        <th>Free</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Voucher Discount</th>
                        <th>@Model.First().Order.VoucherDeduction</th>
                    </tr>

                    <tr>
                        <th colspan="5" class="text-right">Total</th>
                        <th>@Model.First().Order.Total</th>
                    </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.table-responsive -->

        <div class="row addresses">
            <div class="col-md-6">
                <h2>Payment Method</h2>
                <p>
                    @Model.First().Order.PaymentType.ToUpper()

                    @if (Model.First().Order.PaymentType == "Bank")
                    {
                        if (Model.First().Order.Paid)
                        {<br />
                        @:Your order is already Paid <br />
                        @:we are already processing <br/>
                        @:the shipment
                        }
                        else
                        {
                        <br>
                        @:Please check your email.
                        <br>
                        @:Payment procedure is sent to
                        <br>
                        @Model.First().Order.Username }

                    }
                    else
                    {
                        if (Model.First().Order.Paid)
                        {<br />
                        @:Your order is already Paid <br />
                        @:we are already processing <br/>
                        @:the shipment
                        }
                    }

                </p>
            </div>
            <div class="col-md-6">
                <h2>Shipping address</h2>
                <p>@Model.First().Order.FirstName @Model.First().Order.LastName
                    <br>@Model.First().Order.Street
                    <br>@Model.First().Order.City
                    <br>@Model.First().Order.Province
                    <br>@Model.First().Order.MobileNo
                    <br>@Model.First().Order.LandLine
                </p>
            </div>
        </div>

    </div>
</div>


