@model ArtProject2016.Models.Payout

@{
    ViewBag.Title = "Payout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Current = "Payout";
}

<h2>Payout</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Payout</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PayOutMethod, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayOutMethod)
                @Html.ValidationMessageFor(model => model.PayOutMethod)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RedeemedPayoutAmt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RedeemedPayoutAmt)
                @Html.ValidationMessageFor(model => model.RedeemedPayoutAmt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName)
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentInfo)
                @Html.ValidationMessageFor(model => model.PaymentInfo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTime)
                @Html.ValidationMessageFor(model => model.DateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserAccountsId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserAccountsId)
                @Html.ValidationMessageFor(model => model.UserAccountsId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
