@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">
    <div class="container">
        <div class="col-md-12">

            <ul class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li>@ViewBag.Title</li>
            </ul>

        </div>

      

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title text-center">@Roles.GetRolesForUser(User.Identity.Name).FirstOrDefault() Section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="customer-account.html"><i class="fa fa-user"></i>My account</a>
                        </li>
                        <li class="@(ViewBag.Current == "updateProfile" ? "active" : "")">
                            @Html.ActionLink("Update Profile", "UpdateProfile", "Account", null, new { @class = "text-center" })
                        </li>
                        <li  class="@(ViewBag.Current == "Collections" ? "active" : "")">
                            @Html.ActionLink("My Collections", "Index", "Art", null, new { @class = "text-center" })
                        </li>

                        @if (User.IsInRole("Artist"))
                        {
                            <li  class="@(ViewBag.Current == "Sales" ? "active" : "")">
                                @Html.ActionLink("Sales transaction", "Index", "Sale", null, new { @class = "text-center" })
                            </li>
                            <li class="@(ViewBag.Current == "Upload" ? "active" : "")">
                                @Html.ActionLink("Upload Art", "Upload", "Art", null, new { @class = "text-center" })
                            </li>
                        }
                        <li  class="@(ViewBag.Current == "Orders" ? "active" : "")">
                            @Html.ActionLink("Art Orders", "Orders", "Art", null, new { @class = "text-center" })
                        </li>

                        <li  class="@(ViewBag.Current == "Wishlist" ? "active" : "")">
                            @Html.ActionLink("Wish List", "Wishlist", "Art", null, new { @class = "text-center" })
                        </li>


                        <li>
                            @Html.ActionLink("Logout", "LogOut", "Account", null, new { @class = "text-center" })
                            @*  <a href="index.html"><i class="fa fa-sign-out"></i> Logout</a>*@
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->

            <!-- *** CUSTOMER MENU END *** -->
        </div>


        @RenderBody()

    </div>
    <!-- /.container -->
</div>



